
* {
  margin: 0px;
}

body {
  background-color: rgba(255, 252, 236, 0.991);
  font-family: sans-serif;
}
.one {
  border-radius: 7px;
  padding: 31px;
  margin: 35px 200px 35px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
}
.top {
  margin: 0px;
  color: rgb(255, 255, 255);
  background-color: rgba(103, 158, 189, 0.776);
  padding: 25px;
}

.titles {
  color: rgb(194, 13, 155);
}
